@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: white;
  background-color: #5a98f5;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main {
  margin: 0 auto;
  padding: 2em 0;
  border-radius: 1em;
  background-color: #f5f5f5;
  width: 50em;
}

section {
  background-color: #eeeeee;

  padding: 2em 0;
}

.emptyLine {
  margin: 0 auto;
  max-width: 40em;
  height: 0.1em;
  background-color: #eeeeee;
}

.emptyLine:last-child {
  display: none;
}

.card {
  display: flex;
  max-width: 70em;
  margin: 0 auto;
  padding: 2em;
}

.card__img {
  object-fit: cover;
  width: 15em;
  aspect-ratio: 4/5;
  border-radius: 0.5em;
}

.card__text {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__country {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.17em;
  color: #2b283a;
}

.card__maps-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9em;
  margin-left: 1em;
  text-decoration-line: underline;
  color: #918e9b;
}

.card__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding: 0.2em 0 0.9em 0;
  color: #2b283a;
}

.card__dates {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8em;
  padding-bottom: 1em;
  line-height: 12px;
  color: #2b283a;
}

.card__description {
  width: 35em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 150%;
  color: #2b283a;
}
